<form class="wfrp4e item-sheet {{cssClass}}" autocomplete="off">
    {{> systems/wfrp4e/templates/items/item-header.html category="Rune" physical=false}}

    <nav class="sheet-tabs tabs" data-tab-container="primary">
        <a class="item active" data-tab="description">{{localize "Description"}}</a>
        <a class="item" data-tab="details">{{localize "Details"}}</a>
        <a class="item" data-tab="effects">{{localize "Effects"}}</a>
    </nav>
    <div class="sheet-tabs edges left"></div>
    <div class="sheet-tabs edges right"></div>

    <section class="content">

        <div class="tab description active" data-tab="description">
            {{editor content=data.description.value target="data.description.value" button=true owner=owner editable=editable}}
            {{#if (isGM)}}
            <h2 class="note-section label">{{localize "GM Notes"}}</h2>
            {{editor content=data.gmdescription.value target="data.gmdescription.value" button=true owner=owner editable=editable}}
            {{/if}}
        </div>


        <!-- Rune Details -->
        <div class="tab details" data-tab="details">
            <div class="form-group">
                <label class="label-text">{{localize "Rune Strength"}}</label>
                <select name="data.strength.value" data-dtype="{{data.strength.type}}">
                    {{#select data.strength.value}}
                    <option value="Basic">Basic</option>
                    <option value="Master">Master</option>
                    {{/select}}
                </select>
            </div>

            <div class="form-group">
                <label class="label-text">{{localize "Type"}}</label>
                <select name="data.type.value" data-dtype="{{data.type.type}}">
                    {{#select data.type.value}}
                    <option value="Armor">Armor</option>
                    <option value="Weapon">Weapon</option>
                    <option value="Talisman">Talisman</option>
                    {{/select}}
                </select>
            </div>

            <div class="form-group">
                <label class="label-text">{{localize "Inscription Number"}}</label>
                <div class="input-box">
                    <input class="input-text" type="text" name="data.inscribe.value" value="{{data.inscribe.value}}"
                           data-dtype="{{data.inscribe.type}}" />
                </div>
            </div>

            <div class="form-group">
                <label class="label-text">{{localize "Empowerment"}}</label>
                <div class="input-box">
                    <input class="input-text" type="text" name="data.empower.value" value="{{data.empower.value}}"
                           data-dtype="{{data.empower.type}}" />
                </div>
            </div>

            <div class="form-group">
                <label class="label-text">{{localize "Duration"}}</label>
                <select name="data.duration.value" data-dtype="{{data.duration.type}}">
                    {{#select data.duration.value}}
                    <option value="Temporary">Temporary</option>
                    <option value="Permanent">Permanent</option>
                    {{/select}}
                </select>
            </div>
        </div>

        </div>
        {{> systems/wfrp4e/templates/items/item-effects.html}}
    </section>
</form>

<script>
  textContainer = document.querySelectorAll('.app.window-app.sheet');
  length = textContainer.length;

  for (i = 0; i < length; i++) {
    if (textContainer[i].children[1].children[0].className.includes("item-sheet")) {
      new_red = document.getElementsByClassName("app window-app sheet")[i].id;


      if (document.getElementById(new_red).className.includes("career-sheet")) {
        continue;
      }
      else if (document.getElementById(new_red).className.includes("ammo-sheet")) {
        continue;
      }
      else if (document.getElementById(new_red).className.includes("consumable-sheet")) {
        continue;
      }
      else if (document.getElementById(new_red).className.includes("container-sheet")) {
        continue;
      }
      else if (document.getElementById(new_red).className.includes("disease-sheet")) {
        continue;
      }
      else if (document.getElementById(new_red).className.includes("injury-sheet")) {
        continue;
      }
      else if (document.getElementById(new_red).className.includes("money-sheet")) {
        continue;
      }
      else if (document.getElementById(new_red).className.includes("mutation-sheet")) {
        continue;
      }
      else if (document.getElementById(new_red).className.includes("prayer-sheet")) {
        continue;
      }
      else if (document.getElementById(new_red).className.includes("psychology-sheet")) {
        continue;
      }
      else if (document.getElementById(new_red).className.includes("rune-sheet")) {
        continue;
      }
      else if (document.getElementById(new_red).className.includes("skill-sheet")) {
        continue;
      }
      else if (document.getElementById(new_red).className.includes("spell-sheet")) {
        continue;
      }
      else if (document.getElementById(new_red).className.includes("talent-sheet")) {
        continue;
      }
      else if (document.getElementById(new_red).className.includes("trait-sheet")) {
        continue;
      }
      else if (document.getElementById(new_red).className.includes("trapping-sheet")) {
        continue;
      }
      else if (document.getElementById(new_red).className.includes("weapon-sheet")) {
        continue;
      }
      else {
        document.getElementById(new_red).className += " rune-sheet item-sheet";
      }
    } else { }
  }


</script>